@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --gray-color: #343a40;
  --gray-ligth: #dee2e676;
  --textcolor: #1a1a1a;
  --main-color: #d9480f;
  --hovered: #af2401;
  --bgcolor: #e9ecff;
  --text-ligth: #e9ecef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bgcolor);
}
body::-webkit-scrollbar {
  display: none;
}
/* container all page */

/* container all page */

/* !Start hero and header */
.sticky {
  position: fixed;
  background-color: var(--bgcolor) !important;
  z-index: 100;
  transition: all 200ms linear;
}
.hidden-div {
  height: 58px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.hero-and-navbar-section {
  height: fit-content;
}
.header {
  padding-inline: 20px;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.blurred {
  transition: all 100ms linear;
}
.header:hover .blurred {
  filter: opacity(60%);
}
.header:hover .blurred:hover {
  filter: opacity(100%);
}
.hidden {
  display: none;
  align-items: center;
  justify-content: center;
}
.hidden p {
  color: var(--textcolor);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
/* 1.2 - 1.4 */
.logo {
  height: 100%;
}
.logo a {
  font-size: 38px;
  color: #000;
  font-family: "Jersey 10", sans-serif;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  transition: all 200ms linear;
}
.logo p {
  font-family: "Jersey 10", sans-serif;
  font-size: 34px;
}
.logo span {
  font-family: "Jersey 10", sans-serif;
  font-size: 54px;
}
.logo span:hover {
  color: var(--main-color);
  filter: drop-shadow(0 0 1rem var(--main-color));
}
.logo a:hover {
  color: #000;
  filter: drop-shadow(0 0 10px #000);
}
.nav {
  height: 100%;
  display: flex;
  gap: 60px;
}
.nav a {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--textcolor);
  font-weight: 600;
  letter-spacing: -0.3px;
  position: relative;
}
.nav a:hover {
  color: #1a1a1c;
}
.bord {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2px;
  left: 0;
}
.nav a:hover .bord {
  color: #fff;
  border-bottom: 3px solid var(--main-color);
  animation: borbot 100ms alternate linear;
}

.button {
  display: flex;
  align-items: center;
}

.button button {
  background-color: var(--main-color);
  padding-inline: 3vw;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 40px;
  font-weight: 600;
  transition: all 200ms linear;
  cursor: pointer;
  letter-spacing: 1.1px;
}
.button button:hover {
  background-color: var(--hovered);
  color: #fff;
}
/* !Navbar end */
.hero-image-section {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: relative;
}
.hero-image-section .text-section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: absolute;
  top: 2vw;
  left: 5%;
  transform: translate(0, 50%);
  /* animation: animate linear;
    animation-timeline: scroll(); */
}

.hero-image-section .text-section span {
  font-weight: 800;
  letter-spacing: -3.8px;
  font-size: 6vw;
  line-height: 1.1;
  color: var(--bgcolor);
  display: inline !important;
}
.hero-image-section .text-section .shoes {
  color: var(--main-color);
  position: relative;
  top: -3px;
}
.hero-image-section .text-section button {
  width: 50%;
  background-color: var(--main-color);
  padding-inline: 4%;
  padding-block: 1vw;

  outline: none;
  border: none;
  color: #fff;
  font-size: 1.9vw;
  border-radius: 20px;
  font-weight: 700;
  transition: all 200ms linear;
  cursor: pointer;
  letter-spacing: 1.1px;
  margin-top: 13vw;
}
.hero-image-section .text-section button:hover {
  background-color: var(--hovered);
  color: #fff;
}
.hero-image {
  z-index: -100;
  grid-column: 1 / -1;
  padding-top: 10px;
  /* animation: animateimage linear;
    animation-timeline: scroll(); */
}

.hero-image img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}
/* ? Hero End */

/* CAROUSEL START */

.carousel-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.new-arrivals {
  width: 100%;
  height: fit-content;
  color: var(--gray-color);
  line-height: 30px;
  font-weight: 400;
  padding-inline: 13px;
  padding-bottom: 30px;
  padding-top: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 44px;
  letter-spacing: -1.3px;
  margin-bottom: 40px;
}
.new-arrivals span {
  width: fit-content;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--gray-color);
}

.image {
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: repeat(9, 30%);
  padding-block: 20px;
  column-gap: 1vw;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}
.image::-webkit-scrollbar {
  display: none;
}

.imageandtext {
  position: relative;
  background-color: #4a4a4a;
  border-radius: 10px;
  padding: 20px;
}
.text {
  width: 100%;

  display: flex;
  justify-content: center;
  color: var(--textcolor);
  font-weight: 700;
  font-size: 28px;
}

.imageandtext img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

.left-icon {
  width: 5vw;
  height: 5vw;
  max-width: 80px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, 50%);
  cursor: pointer;
  color: var(--bgcolor);
  font-size: 2vw;
  background-color: var(--gray-ligth);
  border-radius: 50%;
}

.right-icon {
  width: 5vw;
  height: 5vw;
  max-width: 80px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, 50%);
  cursor: pointer;
  color: var(--bgcolor);
  font-size: 2vw;
  background-color: var(--gray-ligth);
  border-radius: 50%;
}
.left-icon:hover,
.right-icon:hover {
  background-color: var(--gray-color);
}
/* CAROUSEL END */
/* CATEGORY START */
.categories {
  height: fit-content;
  width: 100%;
  padding-inline: 80px;
  margin-block: 80px;
}
.catagory-heading h1 {
  font-size: 28px;
  color: #151514;
}
.catagory-heading {
  width: 100%;
  margin-bottom: 80px;
}
.categorybox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.categorybox a {
  color: var(--textcolor);
  font-weight: 600;
  font-size: 34px;
  position: relative;
}
.category-border-box {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--gray-color);
}
.category-border-box:hover {
  border-width: 5px;
}

/* PROMOTION AND SALE START */
.promotion-sale-section {
  width: 100%;
  height: fit-content;
  background-color: #363636;
  padding-block: 50px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top-left-radius: 60%;
}

.learn-more-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 20px;
}
.sale-text h1 {
  color: #d6d8d9;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.1px;
  font-family: "Rubik", sans-serif;
}
.sale-text p {
  color: #d6d8d9;
  font-size: 38px;
  line-height: 1.2;
  margin-top: 28px;
}
.gold {
  color: var(--main-color);
}
.sale-little-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}

.sale-little-text p {
  font-size: 14px;
  color: #d6d8d9;
  display: inline;
  margin-left: 10px;
}
.sale-little-text span i {
  width: fit-content;
  height: fit-content;
  color: var(--main-color);
  font-size: 14px;
  margin-left: 10px;
}
.learn-more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}
.learn-more a {
  font-size: 54px;
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 500;
  color: #d6d8d9;
}
.learn-more a:hover {
  color: var(--main-color);
}
.banner {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 60%;

  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}
/* PROMOTION AND SALE END */
/* ABOUT US SECTION */
.about-us-more {
  padding-top: 120px;
  margin-bottom: 120px;
}
.about-us-text {
  width: 100%;
  padding-inline: 30%;
}
.about-heading {
  width: 100%;
  font-size: 24px;
  padding-bottom: 40px;
  text-align: center;
  color: var(--gray-color);
  font-weight: 600;
  letter-spacing: 1.3px;
}
.about-us-text span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--gray-color);
}
/* FOOTER CONTAINER */
.footer {
  background-color: #0b0b0b;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: max-content 1fr;
  padding-top: 40px;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 3;
}
.footer-logo h1 {
  font-size: 58px;
  color: var(--text-ligth);
  font-family: "Jersey 10", sans-serif;
}
.footer-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.footer-section h1 {
  color: var(--gray-ligth);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--text-ligth);
  width: fit-content;
}
.footer-section a {
  color: var(--text-ligth);
  font-weight: 200;
  width: fit-content;
}
.footer-section a:hover {
  box-shadow: 0 4px 2px -2px var(--bgcolor);
}
.adress {
  /* background-color: #fff; */

  grid-column: 3 / 5;
  padding: 40px;
}
.adress-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.adress-container iframe {
  width: 100%;
  height: 70%;
}
/* END FOOTER */

/* ABOUT US END  */
@media (max-width: 1300px) {
  .about-us-text {
    padding-inline: 10%;
  }
}
@media (max-width: 1000px) {
  /* .carousel {
      width: 100%;
    } */
  .logo span {
    font-size: 58px;
  }
  .logo p {
    display: none;
  }
  .hero-image-section {
    height: 100vw;
  }
  .hero-image img {
    height: 100%;
  }
  .hero-image-section .text-section span {
    font-size: 9vw;
  }
  .image {
    grid-template-columns: repeat(9, 45%);
    height: 500px;
  }
  .hero-image-section .text-section button {
    font-size: 18px;
    width: 50%;
    align-self: center;
  }
  .text {
    font-size: 22px;
  }
  .left-icon,
  .right-icon {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
  .catagory-heading {
    margin-bottom: 60px;
  }
  .categorybox {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .promotion-sale-section {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    overflow: hidden;
  }
  .sale-text h1 {
    margin-top: 60px;
    text-align: center;
  }
  .sale-text p {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
  }
  .sale-little-text span p {
    font-size: 18px;
  }
  .sale-little-text span i {
    font-size: 18px;
  }
  .sale-little-text {
    margin-bottom: 2.8rem;
  }
  .banner img {
    border-radius: 0;
    border: none;
    transform: scale(1.2);
  }
  .learn-more a {
    font-size: 58px;
  }
  .about-us-text {
    padding-inline: 20px;
  }
  .about-us-text span {
    font-size: 14px;
  }
  .footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
@media (max-width: 718px) {
  .nav {
    display: none;
  }
  .hidden {
    display: flex;
  }
  .button {
    display: none;
  }
  .hero-image-section {
    height: 140vw;
  }
  .hero-image img {
    height: 100%;
    filter: brightness(60%);
  }
  .carousel {
    width: 100%;
  }
  .image {
    grid-template-columns: repeat(9, 70%);
  }
  .hero-image-section .text-section span {
    font-size: 13vw;
    line-height: 60px;
  }

  .text {
    gap: 5px;
  }

  .left-icon,
  .right-icon {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }
  .text button {
    font-size: 16px;
  }
  .learn-more a {
    font-size: 38px;
  }
  .categorybox {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@keyframes borbot {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes animate {
  to {
    transform: translateY(-100px);
  }
}
